# Virtual Environment
.venv/
venv/
backend/.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# FAISS Index
*.faiss

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db